<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
<!--NOTES TO BE USED IN index.html level to apply logo-->
<!-- Component STARTS HERE -->
<!-- FOOTER START -->
<footer class="border-sep bg-box dark:bg-dark text-meta-light border-t py-6 text-center">
    <div class="container m-auto"></div>
    <!--  Keep flex row reverse because of the rtl and the order in the mobile screens -->
    <div class="md:container md:m-auto md:flex md:flex-row-reverse md:items-center md:justify-between md:gap-4 md:align-middle">
        <div class="text-meta-light mb-4 flex justify-center gap-4 text-sm font-medium md:mb-0">
            <a href="#" aria-label="X">
                <svg class="fill-meta-light dark:fill-meta-light-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1490_26686)">
                        <path
                          d="M14.2339 10.1609L22.9764 -0.00146484H20.9047L13.3137 8.82237L7.2507 -0.00146484H0.257812L9.42618 13.3417L0.257812 23.9985H2.3296L10.3459 14.6803L16.7489 23.9985H23.7418L14.2334 10.1609H14.2339ZM11.3963 13.4593L10.4674 12.1306L3.0761 1.55814H6.25825L12.2231 10.0905L13.1521 11.4191L20.9057 22.5098H17.7235L11.3963 13.4598V13.4593Z"
                          fill="#A1A1AA"
                        />
                    </g>
                    <defs>
                        <clipPath id="clip0_1490_26686">
                            <rect width="24" height="24" fill="white" transform="translate(0 -0.00146484)" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a href="#" aria-label="LinkedIn">
                <svg class="fill:meta-light dark:fill:meta-light-2" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1490_29295)">
                        <path
                          d="M22.2234 0.975098H1.77187C0.792187 0.975098 0 1.74854 0 2.70479V23.2407C0 24.197 0.792187 24.9751 1.77187 24.9751H22.2234C23.2031 24.9751 24 24.197 24 23.2454V2.70479C24 1.74854 23.2031 0.975098 22.2234 0.975098ZM7.12031 21.4267H3.55781V9.97041H7.12031V21.4267ZM5.33906 8.40947C4.19531 8.40947 3.27188 7.48603 3.27188 6.34697C3.27188 5.20791 4.19531 4.28447 5.33906 4.28447C6.47813 4.28447 7.40156 5.20791 7.40156 6.34697C7.40156 7.48135 6.47813 8.40947 5.33906 8.40947ZM20.4516 21.4267H16.8937V15.8579C16.8937 14.5313 16.8703 12.8204 15.0422 12.8204C13.1906 12.8204 12.9094 14.2688 12.9094 15.7642V21.4267H9.35625V9.97041H12.7687V11.536H12.8156C13.2891 10.636 14.4516 9.68447 16.1813 9.68447C19.7859 9.68447 20.4516 12.0563 20.4516 15.1407V21.4267Z"
                          fill="#A1A1AA"
                        />
                    </g>
                    <defs>
                        <clipPath id="clip0_1490_29295">
                            <rect width="24" height="24" fill="white" transform="translate(0 0.975098)" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a href="#" aria-label="Facebook">
                <svg class="fill-meta-light dark:fill-meta-light-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1490_26692)">
                        <path
                          d="M24 11.9985C24 5.37111 18.6274 -0.00146484 12 -0.00146484C5.37258 -0.00146484 0 5.37111 0 11.9985C0 17.988 4.3882 22.9525 10.125 23.8528V15.4673H7.07812V11.9985H10.125V9.35479C10.125 6.34729 11.9166 4.68604 14.6576 4.68604C15.9701 4.68604 17.3438 4.92041 17.3438 4.92041V7.87354H15.8306C14.34 7.87354 13.875 8.79861 13.875 9.74854V11.9985H17.2031L16.6711 15.4673H13.875V23.8528C19.6118 22.9525 24 17.988 24 11.9985Z"
                          fill="#A1A1AA"
                        />
                    </g>
                    <defs>
                        <clipPath id="clip0_1490_26692">
                            <rect width="24" height="24" fill="white" transform="translate(0 -0.00146484)" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div>
            <nav aria-label="navigation">
                <ul class="text-meta dark:text-wheat mt-8 flex justify-center gap-4 font-medium md:mt-0">
                    <li><a href="#" class="text-sm">التواصل</a></li>
                    <li><a href="#" class="text-sm">الخصوصية و الأحكام</a></li>
                    <li><a href="#" class="text-sm">المدونة</a></li>
                    <li><a href="#" class="text-sm">من نحن</a></li>
                </ul>
                <p class="hidden text-sm font-normal dark:text-zinc-400 md:block">جميع الحقوق محفوظة © منصة أعناب</p>
            </nav>
        </div>
        <div class="mt-8 text-sm md:mt-0">
            <img src="src/assets/images/footer_logo.svg" alt="platform" class="m-auto mb-2.5" />
            <p class="text-sm font-normal dark:text-zinc-400 md:hidden">جميع الحقوق محفوظة © منصة أعناب</p>
        </div>
    </div>
</footer>
<!--Footer End-->
<!-- Component ENDS HERE -->
</body>
</html>