<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
<!-- Component STARTS HERE -->
<!-- FOOTER START -->
<footer class="border-sep border-t bg-box py-6 text-center text-meta-light">
    <div class="md:container md:m-auto md:flex md:items-center md:justify-between md:align-middle md:gap-4">
        <div class="mb-4 md:mb-0 flex justify-center gap-4 text-sm font-medium text-meta-light">
            <a href="#" aria-label="X">
                <img src="src/assets/images/x.svg" alt="twitter"/>
            </a>
            <a href="#" aria-label="LinkedIn">
                <img src="src/assets/images/linkedin.svg" alt="linkedin"/>
            </a>
            <a href="#" aria-label="Facebook">
                <img src="src/assets/images/facebook.svg" alt="facebook"/>
            </a>
        </div>
        <div>
            <nav aria-label="Footer navigation">
                <ul class="mb-4 mt-16 md:mt-0 flex justify-center gap-4 font-medium text-meta">
                    <li><a href="#" class="text-sm">التواصل</a></li>
                    <li><a href="#" class="text-sm">الخصوصية و الأحكام</a></li>
                    <li><a href="#" class="text-sm">المدونة</a></li>
                    <li><a href="#" class="text-sm">من نحن</a></li>
                </ul>
                <p class="hidden text-sm font-normal md:block"> جميع الحقوق محفوظة © منصة أعناب</p>
            </nav>
        </div>
        <div class="mt-16 md:mt-0 text-sm">
            <img src="src/assets/images/footer_logo.svg" alt="platform" class="m-auto mb-2.5"/>
            <p class="text-sm font-normal xl:hidden">
                جميع الحقوق محفوظة © منصة أعناب
            </p>
        </div>
    </div>
</footer>
<!--Footer End-->
<!-- Component ENDS HERE -->
</body>
</html>